---
apiVersion: cloud.google.com/v1
kind: BackendConfig
metadata:
  namespace: kube
  name: apple-backend-config
spec:
  # Remove securityPolicy if quota is 0
  # securityPolicy:
  #   name: us-security-policy

  # Session affinity via generated cookie
  sessionAffinity:
    affinityType: "GENERATED_COOKIE"
    affinityCookieTtlSec: 86400

  # Backend timeout
  timeoutSec: 1800

  # Connection draining
  connectionDraining:
    drainingTimeoutSec: 3600

  # Optional custom headers
  customRequestHeaders:
    headers:
      - "X-Client-Region:{client_region}"
      - "X-Client-City:{client_city}"
      - "X-Client-CityLatLong:{client_city_lat_long}"

